body {
  background: #eee;
  /* This is just a helper in case the element has a transparent background or white colors. */
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #22272e;
  color: #adbac7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  transition: background-color .3s;
}

a {
  color: #3aa675;
  font-weight: 500;
  text-decoration: none;
}

code, kbd {
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", "Ubuntu Mono", monospace;
}

a, code {
  overflow-wrap: break-word;
}

code {
  background-color: #2b313a;
  border-radius: 3px;
  color: #8b9eb0;
  font-size: .85em;
  margin: 0;
  padding: .25rem .5rem;
  transition: background-color .3s;
}

h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.25;
  overflow-wrap: break-word;
}

h2 {
  border-bottom: 1px solid #3e4c5a;
  font-size: 1.65rem;
  padding-bottom: .3rem;
  transition: border-color .3s;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

p, ul {
  line-height: 1.7;
  overflow-wrap: break-word;
}

.external-link-icon {
  color: #999;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.external-link-icon-sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-wrap: nowrap;
  user-select: none;
  white-space-collapse: collapse;
  width: 1px;
}

.arrow {
  display: inline-block;
  height: 0;
  width: 0;
}

.home {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 3.6rem 2rem 0;
}

@media (max-width: 419px) {
  .home {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar, .sidebar {
  background-color: #22272e;
  box-sizing: border-box;
  left: 0;
  position: fixed;
}

.navbar {
  border-bottom: 1px solid #3e4c5a;
  height: 3.6rem;
  right: 0;
  top: 0;
  transition: background-color .3s, border-color .3s;
  z-index: 20;
}

.sidebar {
  border-right: 1px solid #3e4c5a;
  bottom: 0;
  font-size: 16px;
  margin: 0;
  overflow-y: auto;
  top: 3.6rem;
  transition: transform .3s, background-color .3s, border-color .3s;
  width: 20rem;
  z-index: 10;
}

.sidebar-mask {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}

@media (max-width: 959px) {
  .sidebar {
    font-size: 15px;
    width: calc(20rem * .82);
  }
}

@media (max-width: 719px) {
  .sidebar {
    padding-top: 3.6rem;
    top: 0;
    transform: translate(-100%);
  }
}

.navbar {
  line-height: calc(3.6rem - 2 * .7rem);
  padding: .7rem 1.5rem;
}

@media screen and (max-width: 719px) {
  .navbar {
    padding-left: 4rem;
  }
}

.navbar-items {
  display: inline-block;
}

.toggle-sidebar-button {
  cursor: pointer;
  display: none;
  left: 1rem;
  padding: .6rem;
  position: absolute;
  top: .6rem;
}

@media screen and (max-width: 719px) {
  .toggle-sidebar-button {
    display: block;
  }
}

.toggle-color-mode-button {
  background-color: initial;
  background-image: none;
  border-style: initial;
  border-width: 0;
  color: #adbac7;
  cursor: pointer;
  display: flex;
  margin: auto auto auto 1rem;
  opacity: .8;
}

.DocSearch {
  transition: background-color .3s;
}

.navbar-dropdown-wrapper {
  cursor: pointer;
}

.DocSearch-Button {
  background: #262c34;
  border-radius: 40px;
  border-style: initial;
  border-width: 0;
  color: #999;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 8px;
  user-select: none;
}

.DocSearch-Button, .DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Search-Icon {
  stroke-width: 1.6;
}

.DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 6px;
}

.DocSearch-Button-Keys {
  display: flex;
  min-width: calc(40px + .8em);
}

.DocSearch-Button-Key {
  align-items: center;
  background: linear-gradient(-225deg, #444950, #1c1e21);
  border-radius: 3px;
  border-style: initial;
  border-width: 0;
  box-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, .3);
  color: #999;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: .4em;
  padding: 0 0 2px;
  position: relative;
  top: -1px;
  width: 20px;
}

@media (max-width: 768px) {

  .DocSearch-Button-Keys, .DocSearch-Button-Placeholder {
    display: none;
  }
}

.medium-zoom-image {
  cursor: zoom-in;
  transition: transform .3s cubic-bezier(.2, 0, .2, 1) 0s !important;
}

h1:focus-visible, h2:focus-visible, h3:focus-visible, h4:focus-visible {
  outline: 0;
}

a.header-anchor {
  float: left;
  font-size: .85em;
  margin-left: -.87em;
  margin-top: .125em;
  padding-right: .23em;
  user-select: none;
}

pre[class*=language-] {
  color: #ccc;
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  hyphens: none;
  overflow-wrap: normal;
  tab-size: 4;
  text-align: left;
  text-wrap: nowrap;
  white-space-collapse: preserve;
  word-break: normal;
  word-spacing: normal;
}

div[class*=language-] {
  background-color: #282c34;
  border-radius: 6px;
  position: relative;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #3e4c5a;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #3aa675;
}

.theme-default-content img {
  max-width: 100%;
}

.theme-default-content h2, .theme-default-content h3, .theme-default-content h4 {
  margin-bottom: 0;
  margin-top: calc(.5rem - 3.6rem);
  padding-top: calc(1rem + 3.6rem);
}

.navbar-items a {
  color: inherit;
  line-height: 1.4rem;
}

.sidebar ul {
  list-style: none;
}

.navbar-items a, .sidebar a {
  display: inline-block;
}

@media screen and (min-width: 720px) and (max-width: 815px) {
  button.toggle-color-mode-button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 816px) {
  button.toggle-color-mode-button {
    margin-right: 30px;
  }
}

div[class*=language-]::before {
  color: #9e9e9e;
  content: attr(data-ext);
  font-size: .75rem;
  position: absolute;
  right: 1em;
  top: .8em;
  z-index: 3;
}

.arrow.down, .arrow.right {
  border-left-style: solid;
  border-top-style: solid;
}

.arrow.down {
  border-right: 4px solid transparent;
  border-top-color: #ccc;
  border-top-width: 6px;
}

.arrow.right {
  border-bottom: 4px solid transparent;
  border-left-color: #ccc;
  border-left-width: 6px;
}

.home .hero {
  text-align: center;
}

.home .features {
  align-content: stretch;
  align-items: flex-start;
  border-top: 1px solid #3e4c5a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 1.2rem 0;
  transition: border-color .3s;
}

.home .feature {
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 30%;
}

.home .theme-default-content {
  margin: 0;
  padding: 0;
}

@media (max-width: 719px) {
  .home .features {
    flex-direction: column;
  }

  .home .feature {
    max-width: 100%;
    padding: 0 2.5rem;
  }
}

.navbar .site-name {
  color: #adbac7;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
}

.navbar .navbar-items-wrapper {
  box-sizing: border-box;
  display: flex;
  font-size: .9rem;
  height: calc(3.6rem - 2 * .7rem);
  padding-left: 1.5rem;
  position: absolute;
  right: 1.5rem;
  text-wrap: nowrap;
  top: .7rem;
  white-space-collapse: collapse;
}

@media screen and (max-width: 719px) {
  .navbar .site-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: calc(100vw - 11rem);
  }

  .navbar .can-hide {
    display: none;
  }
}

.navbar-items .navbar-item {
  display: inline-block;
  line-height: calc(3.6rem - 2 * .7rem);
  margin-left: 1.5rem;
  position: relative;
}

@media (max-width: 719px) {
  .navbar-items .navbar-item {
    margin-left: 0;
  }
}

.toggle-sidebar-button .icon {
  align-items: center;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  height: 1.25rem;
  justify-content: center;
  width: 1.25rem;
}

.toggle-color-mode-button:hover, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor {
  opacity: 1;
}

.toggle-color-mode-button .icon {
  height: 1.25rem;
  width: 1.25rem;
}

.navbar-dropdown-wrapper .navbar-dropdown-title, .navbar-dropdown-wrapper .navbar-dropdown-title-mobile {
  background-color: transparent;
  border-style: none;
  color: #adbac7;
  cursor: inherit;
  font-family: inherit;
  line-height: 1.4rem;
  padding: inherit;
}

.navbar-dropdown-wrapper .navbar-dropdown-title {
  display: block;
  font-size: .9rem;
  font-weight: 500;
}

.navbar-dropdown-wrapper .navbar-dropdown-title-mobile {
  display: none;
  font-size: inherit;
  font-weight: 600;
}

.navbar-dropdown-wrapper:not(.mobile) {
  height: 1.8rem;
}

.sidebar .navbar-items {
  border-bottom: 1px solid #3e4c5a;
  display: none;
  padding: .5rem 0 .75rem;
  transition: border-color .3s;
}

@media (max-width: 719px) {
  .sidebar .navbar-items {
    display: block;
  }
}

.navbar .navbar-items-wrapper {
  flex-direction: row-reverse;
}

.DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
  background: #22272e;
  box-shadow: inset 0 0 0 2px #3aa675;
  color: #adbac7;
  outline: 0;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: #adbac7;
}

a.header-anchor:focus-visible {
  opacity: 1;
}

.theme-default-content pre, .theme-default-content pre[class*=language-] {
  border-radius: 6px;
  line-height: 1;
  margin: .85rem 0;
  overflow: auto;
  padding: 1.3rem 1.5rem;
}

@media (max-width: 419px) {
  .theme-default-content div[class*=language-] {
    border-radius: 0;
    margin: .85rem -1.5rem;
  }
}

.home .hero h1 {
  font-size: 3rem;
  margin: 1.8rem auto;
}

.home .feature h2 {
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  color: #96a7b7;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 0;
}

.home .feature p {
  color: #8b9eb0;
}

@media (max-width: 419px) {
  .home .hero h1 {
    font-size: 2rem;
    margin: 1.2rem auto;
  }

  .home .feature h2 {
    font-size: 1.25rem;
  }
}

.theme-default-content a:hover {
  text-decoration: underline;
}

.theme-default-content h2:first-child, .theme-default-content h3:first-child, .theme-default-content h4:first-child {
  margin-bottom: 1rem;
}

.navbar-items a:hover {
  color: #adbac7;
}

@media (max-width: 719px) {
  .navbar-items a:hover {
    color: #3aa675;
  }
}

.toggle-sidebar-button .icon span {
  background-color: #adbac7;
  border-radius: 2px;
  display: inline-block;
  height: 2px;
  transition: transform .3s;
  width: 100%;
}

.sidebar .navbar-items a {
  font-weight: 600;
}

.theme-default-content pre code, .theme-default-content pre[class*=language-] code {
  -webkit-font-smoothing: auto;
  background-color: transparent !important;
  border-radius: 0;
  color: #fff;
  overflow-wrap: unset;
  padding: 0;
}

div[class*=language-] pre, div[class*=language-] pre[class*=language-] {
  background-attachment: initial !important;
  background-clip: initial !important;
  background-color: transparent !important;
  background-image: initial !important;
  background-origin: initial !important;
  background-position: initial initial !important;
  background-repeat: initial !important;
  background-size: initial !important;
  position: relative;
  z-index: 1;
}

.theme-default-content h2:first-child + p, .theme-default-content h3:first-child + p {
  margin-top: 2rem;
}

.home .hero .description {
  color: #8094a8;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 1.8rem auto;
  max-width: 35rem;
}

@media (max-width: 419px) {
  .home .hero .description {
    font-size: 1.2rem;
    margin: 1.2rem auto;
  }
}

.theme-container.no-sidebar .sidebar {
  display: none;
}

@media (max-width: 719px) {
  .theme-container.no-sidebar .sidebar {
    display: block;
  }
}

.navbar-items .navbar-item:first-child {
  margin-left: 0;
}

.navbar-dropdown-wrapper .navbar-dropdown-title-mobile:hover, .navbar-dropdown-wrapper .navbar-dropdown-title:hover {
  border-color: transparent;
}

.navbar-dropdown-wrapper .navbar-dropdown-title .arrow, .navbar-dropdown-wrapper .navbar-dropdown-title-mobile .arrow {
  margin-left: .4rem;
  margin-top: -1px;
  vertical-align: middle;
}

.navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a.router-link-active, .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover, .navbar-dropdown-wrapper .navbar-dropdown-title-mobile:hover {
  color: #3aa675;
}

.navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item {
  color: inherit;
  line-height: 1.7rem;
}

.navbar-dropdown-wrapper:not(.mobile) .navbar-dropdown {
  background-color: #22272e;
  border: 1px solid;
  border-color: #3e4c5a #3e4c5a #34404c;
  border-image: none 100% 1 0 stretch;
  border-radius: .25rem;
  box-sizing: border-box;
  margin: 0;
  max-height: calc(100vh - 2.7rem);
  overflow-y: auto;
  padding: .6rem 0;
  position: absolute;
  right: 0;
  text-align: left;
  text-wrap: nowrap;
  top: 100%;
  white-space-collapse: collapse;
}

.sidebar .navbar-items .navbar-item {
  display: block;
  font-size: 1.1em;
  line-height: 1.25rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.navbar-items .navbar-item > a:hover {
  border-bottom: 0 none #adbac7;
  margin-bottom: -2px;
}

@media (max-width: 719px) {
  .navbar-items .navbar-item > a:hover {
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    margin-bottom: 0;
  }
}

.toggle-sidebar-button .icon span:nth-child(2) {
  margin: 6px 0;
}

.navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a {
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  display: block;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 0;
  padding: 0 1.5rem 0 1.25rem;
  position: relative;
}

.navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a.router-link-active::after {
  border-bottom: 3px solid transparent;
  border-left: 0 none #3aa675;
  border-top: 3px solid transparent;
  content: "";
  height: 0;
  left: 9px;
  position: absolute;
  top: calc(50% - 2px);
  width: 0;
}

@media (max-width: 719px) {
  .sidebar .navbar-items .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a.router-link-active::after {
    top: calc(1rem - 2px);
  }
}

@media screen and (min-width: 720px) and (max-width: 815px) {
  #docsearch-container {
    width: 150px;
  }
}

@media screen and (min-width: 816px) {
  #docsearch-container {
    width: 239px;
  }
}

@media (min-width: 751px) {
  #docsearch-container {
    min-width: 171.36px;
  }
}

@media (max-width: 750px) {
  #docsearch-container {
    min-width: 52px;
  }
}

.navbar-dropdown-wrapper:not(.mobile) .navbar-dropdown {
  height: auto !important;
}

.navbar-dropdown-wrapper:not(.mobile):hover .navbar-dropdown {
  display: block !important;
}

html {
  font-size: 16px;
  /* This is IMPORTANT since some copied values use "REM" units */
}