.header {
  width: 100%;
  min-height: 150px;
  display: grid;
  place-content: center;
}

.h1 {
  font-size: 44px;
  font-weight: bold;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
