@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.laststance--github--spinner {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 8px;
  animation: infinite-spinning 1s linear infinite;
}
